{% extends base_template %}
{% load i18n %}

{% load xadmin_tags %}

{% block extrastyle %}
<style type="text/css">
    .btn-toolbar{margin-top: 0;}
    #content-block.full-content{margin-left: 0;}
</style>
{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% block nav_title %}{% if brand_icon %}<i class="{{brand_icon}}"></i> {% endif %}{{brand_name}}{% endblock %}

{% block nav_toggles %}
{% include "xadmin/includes/toggle_menu.html" %}
{% endblock %}

{% block nav_btns %}

{% endblock nav_btns %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div id="expense_details_month_statis" style="width: 100%;height: 300px"></div>
        </div>
        <div class="col-md-6 column">
            <div id="expense_details_month_type_statis" style="width: 100%;height: 330px"></div>
        </div>
    </div>
    <div class="row clearfix">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>名称</th><th>类型</th><th>金额</th><th>消费日期</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script src="/static/echarts/echarts.min.js"></script>
<script src="/static/common/js/common.js"></script>
<script src="/static/common/js/base_chart.js"></script>
<script>
    $(document).ready(function(){
        init();
    });

    //**初始化
    function init() {
        let params = {};
        params.fields = "date_format(expense_date, '%Y-%m') name,sum(value) value";
        params.table = "bill_bus_expense_details";
        params.group = "date_format(expense_date, '%Y-%m')";
        params.order = "date_format(expense_date, '%Y-%m') desc";
        let bar = new BaseBar("expense_details_month_statis", params, "按月消费金额");
        bar.setOption({series: [{ label: {normal: {show: true, position: 'inside'}}}]})

        function initPage(month) {
            //**初始化饼图
            initPie(month);
            //**初始化表格
            initTable(month);
        }
        bar.show().then(baseData => {
            initPage(baseData[0].name);
            //**鼠标移入
            bar.getEChart().on('mouseover', json => initPage(json.name));
        });
    }

    //**初始化饼图
    function initPie(month){
        let params = {};
        params.fields = "d.name,sum(ed.value) value";
        params.table = "bill_bus_expense_details ed left join bill_bas_data d on ed.type_id = d.id";
        params.where = `date_format(ed.expense_date, '%Y-%m') = '${month}'`;
        params.group = "d.name";

        let basePie = new BasePie("expense_details_month_type_statis", params);
        basePie.setOption({series: [{name: month}]});
        basePie.show();
    }

    //**初始化表格
    function initTable(month){
        let params = {};
        params.fields = "ed.name,ed.value,date_format(ed.expense_date, '%m-%d') expense_date,d.name type";
        params.table = "bill_bus_expense_details ed left join bill_bas_data d on ed.type_id = d.id";
        params.where = `date_format(ed.expense_date, '%Y-%m') = '${month}'`;
        params.order = "ed.expense_date desc";

        Utils.getData(params).then(jsonArray => {
            let tbody = jsonArray.map(json =>
                `
                    <tr>
                        <td>${json.name}</td>
                        <td>${json.type}</td>
                        <td>${json.value}</td>
                        <td>${json.expense_date}</td>
                    </tr>
                `
            ).join("");

            $("tbody").empty();
            $("tbody").append(tbody);
        });
    }
</script>
{% endblock %}